#

In [2]:
a=5

In [3]:
b=7

In [4]:
a+b

12

In [5]:
#Strings

In [6]:
name = "mayank"
print(name)

mayank

In [8]:
#inputs

In [9]:
a = int(input("enter the value of a"))

enter the value of a 45

In [10]:
a = int(input("enter the value of a"))

enter the value of a 45

In [11]:
a+b

52

In [1]:
#by default its in the string

In [3]:
#functions in python

In [5]:
def add(a , b):
    return a+b

In [6]:
add(2,3)

5

In [7]:
add(5,6)

11

In [8]:
#match case like a switch in c in python its a match

In [9]:
def http(code):
    match code:
        case 200:
            return "ok"
        case 201:
            return "created"
        case 500:
            return "internal server error"

In [10]:
http(500)

'internal server error'

In [11]:
#String formating in python

In [12]:
name = "mayank"
age = "19"
print("hello my name ius {} ang i am {} years old".format(name , age))

hello my name ius mayank ang i am 19 years old

In [14]:
#fstring
print(f"Hello my name is {name} and i am {age} years old")

Hello my name is mayank and i am 19 years old

In [15]:
#loops

In [16]:
a={1,2,3,4,5,6,7,8,9,10}
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(10):  #goes till 9 n-1
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
count = 0
while(count<5):
    print(count)
    count+=1

0
1
2
3
4

In [19]:
# list is square brackets and tuple is paranthesis

In [20]:
t = {}

In [21]:
type(t)

dict

In [22]:
s = set()
type(s)

set

In [23]:
#Sets

In [25]:
s = {1,2,3,4,5,6,3,2,1,10,11,12,7} # prints unique elemnet
print(s)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12}

In [26]:
dic = {"name" : "mayank"}
print(dic)

{'name': 'mayank'}

In [27]:
print(dic.values())

dict_values(['mayank'])

In [28]:
#file handling read write manipulate

In [30]:
f = open("text.txt", "r")

In [31]:
f.read()

'Maynk is a god boy'

In [33]:
s = "Thid is a niuce way to learn data science"

In [34]:
f.close()

In [36]:
f = open("mayank.txt" , "w")

In [37]:
f.write(s)

41

In [38]:
f.close()

In [1]:
import json

In [4]:
obj = {"name":"mayank" , "sex":"male", "age":19}

In [5]:
json.dumps(obj) #convert python to json

'{"name": "mayank", "sex": "male", "age": 19}'

In [6]:
d = json.loads('{"name":"mayank" , "sex":"male", "age":19}')  #convert json to python

In [7]:
type(d)

dict

In [8]:
 #object oriented

In [11]:
class Mayank:
    company = "hp"
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def printdetails(self):
        print(f"My name is {self.name} i work in {self.company} and my slary is {self.salary}")

        

e = Mayank("Mayank" , 10000000)
e.printdetails()

My name is Mayank i work in hp and my slary is 10000000

In [1]:
#lambda function use for simpler funcvtion in biger codes
cube = lambda x:x*x*x
cube(3)

27

In [2]:
freq = {2 : 3}
num = 2
freq[num] = freq[num] + 1

In [3]:
print(freq[num])

4